*,
*::before,
*::after {
	box-sizing: content-box;
}

body {
	padding: 0;
	margin: 0;
}

.layout-grid {
	display: grid;
	grid-template-columns: 0px 1fr 0px;
	/* TODO: make rows responsive */
	grid-template-rows: 4.5625rem auto auto 4.5625rem;
	/* TODO: make column gap responsive */
	gap: 0 2.1875rem;

	@media screen and (width >= 48rem) {
		grid-template-rows: 5.1875rem auto auto 7.0625rem;
		gap: 0 3.8125rem;
	}
	@media screen and (width >= 90rem) {
		grid-template-rows: 14.3125rem auto auto 13.625rem;
		gap: 0 10.1875rem;
	}
}

.testimonial-grid {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	grid-template-areas:
		"daniel"
		"daniel"
		"johnathan"
		"jeanette"
		"patrick"
		"patrick"
		"kira"
		"kira";
	gap: 0 2rem;

	@media screen and (width >= 48rem) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			"daniel daniel"
			"johnathan jeanette"
			"patrick patrick"
			"kira kira";
	}

	@media screen and (width >= 90rem) {
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas:
			"daniel daniel johnathan kira"
			"jeanette patrick patrick kira";
		gap: 1.5rem 2rem;
	}
}

.testimonial {
	/* layout */
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 0 1rem;
}

.daniel {
	grid-area: daniel;
}
.johnathan {
	grid-area: johnathan;
}
.jeanette {
	grid-area: jeanette;
}
.patrick {
	grid-area: patrick;
}
.kira {
	grid-area: kira;
}

footer {
	.attribution {
		font-size: 11px;
		text-align: center;
	}
	.attribution a {
		color: hsl(228, 45%, 44%);
	}
}
